body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005b94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7e1dc3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
/* new code */
.header {
  grid-area: head;
}
.sidebar {
  grid-area: side;
}
.nav {
  grid-area: nav;
}
.footer {
  grid-area: foot;
}
.article {
  grid-area: a;
}
.container {
  display: grid;
  grid-template-areas:
    "head head head head head head"
    "side nav nav nav nav nav "
    "side a a a a a "
    "side a a a a a "
    "side a a a a a "
    "foot foot foot foot foot foot";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
